@model TiendaMagic.Models.AppUser
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUser">
                <h4>Registrar un nuevo cliente</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <h5>Email</h5>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <h5>Contraseña</h5>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <h5>Nombre</h5>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h5>Apellido</h5>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h5>Nick</h5>
                    <input asp-for="Nick" class="form-control" />
                    <span asp-validation-for="Nick" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h5>Imagen</h5>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h5>Dci</h5>
                    <input asp-for="Dci" class="form-control" />
                    <span asp-validation-for="Dci" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
    </div>
