@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
    <div class="auth-box bg-dark border-top border-secondary">
        <div>
            <div class="text-center p-t-20 p-b-20">
                <span class="db"><img src="../../assets/images/logo.png" alt="logo" /></span>
            </div>
            <form asp-route-returnUrl="@Model.ReturnUrl" class="form-horizontal m-t-20" method="post">
                <div class="row p-b-30">
                    <div class="col-12">
                        <hr />
                        @*NICK*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user"></i></span>
                            </div>
                            <input asp-for="Input.Nick" type="text" class="form-control form-control-lg" placeholder="Nick*" aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3"><span asp-validation-for="Input.Nick" class="text-danger"></span></div>
                        @*NICK*@
                        @*EMAIL*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                            </div>
                            <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Email*" aria-label="Username" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3"><span asp-validation-for="Input.Email" class="text-danger"></span></div>
                        @*EMAIL*@
                        @*CONTRASEÑA*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            <input asp-for="Input.Password" class="form-control form-control-lg" placeholder="Contraseña*" aria-label="Password" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3"><span asp-validation-for="Input.Password" class="text-danger"></span></div>
                        @*CONTRASEÑA*@
                        @*CONFIRMAR CONTRASEÑA*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-info text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" placeholder="Confirmar contraseña*" aria-label="Password" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3"><span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span></div>
                        @*CONFIRMAR CONTRASEÑA*@
                        @*NOMBRE*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-orange text-white" id="basic-addon1"><i class="ti-face-smile"></i></span>
                            </div>
                            <input asp-for="Input.Name" type="text" class="form-control form-control-lg" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3"><span asp-validation-for="Input.Name" class="text-danger"></span></div>
                        @*NOMBRE*@
                        @*APELLIDO*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-purple text-white" id="basic-addon1"><i class="ti-face-smile"></i></span>
                            </div>
                            <input asp-for="Input.LastName" type="text" class="form-control form-control-lg" placeholder="Apellido" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3"><span asp-validation-for="Input.LastName" class="text-danger"></span></div>
                        @*APELLIDO*@
                        @*DCI*@
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-megna text-white" id="basic-addon1"><i class="ti-book"></i></span>
                            </div>
                            <input asp-for="Input.Dci" type="text" class="form-control form-control-lg" placeholder="DCI" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3"><span asp-validation-for="Input.Dci" class="text-danger"></span></div>
                        @*DCI*@

                        @*Image*@
                    <div class="input-group mb-3 text-light">
                        <hr />
                        <div>
                            Opción 1
                            <img src="/userImg/2.png" class="selectImage" />
                            Opción 2
                            <img src="/userImg/3.png" class="selectImage" />
                            Opción 3
                            <img src="/userImg/4.png" class="selectImage" />
                            Opción 4
                            <img src="/userImg/5.png" class="selectImage" />
                            Opción 5
                            <img src="/userImg/6.png" class="selectImage" />
                        </div>
                        <hr />
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-megna text-white" id="basic-addon1"><i class="ti-image"></i></span>
                        </div>

                        <select class="form-control" asp-for="Input.Image">
                            <option value="/userImg/1.png">Selecciona una imagen</option>
                            <option value="/userImg/2.png">Opción 1</option>
                            <option value="/userImg/3.png">Opción 2</option>
                            <option value="/userImg/4.png">Opción 3</option>
                            <option value="/userImg/5.png">Opción 4</option>
                            <option value="/userImg/6.png">Opción 5</option>
                        </select>
                    </div>
                        <div class="input-group mb-3"><span asp-validation-for="Input.Image" class="text-danger"></span></div>
                        @*Image*@
                        @*--------------------------LO DE LA IMAGEN ESTA PENDIENTE-----------------------*@
                        @*<div class="form-group">
            <h5>Imagen de Perfil</h5>
            <input asp-for="Input.Image" class="form-control" />
            <span asp-validation-for="Input.Image" class="text-danger"></span>
        </div>*@
                    </div>
                </div>
                <div class="row border-top border-secondary">
                    <div class="input-group mb-3"></div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="p-t-20">
                                <button class="btn btn-block btn-lg btn-info" type="submit">Registrarse</button>
                            </div>
                        </div>
                    </div>
                </div>
</form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
