@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="page-wrapper paddingLeft paddingRight">
<h1>TU perfil</h1>
    <h4>Cambiar información del perfil</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
