@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="page-wrapper paddingLeft paddingRight">
    <div class="row">
        <div class="col-md-6">
            <form id="profile-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                @*<div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled />
                </div>*@
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Nick"></label>
                    <input asp-for="Input.Nick" class="form-control" />
                    <span asp-validation-for="Input.Nick" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Dci"></label>
                    <input asp-for="Input.Dci" class="form-control" />
                    <span asp-validation-for="Input.Dci" class="text-danger"></span>
                </div>
                @*pegado*@
        <div class="input-group mb-3 text-light">
            <hr />
            <div>
                Opción 1
                <img src="/userImg/2.png" class="selectImage" />
                Opción 2
                <img src="/userImg/3.png" class="selectImage" />
                Opción 3
                <img src="/userImg/4.png" class="selectImage" />
                Opción 4
                <img src="/userImg/5.png" class="selectImage" />
                Opción 5
                <img src="/userImg/6.png" class="selectImage" />
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Image"></label>
                <select class="form-control" asp-for="Input.Image">
                    <option value="/userImg/1.png">Selecciona una imagen</option>
                    <option value="/userImg/2.png">Opción 1</option>
                    <option value="/userImg/3.png">Opción 2</option>
                    <option value="/userImg/4.png">Opción 3</option>
                    <option value="/userImg/5.png">Opción 4</option>
                    <option value="/userImg/6.png">Opción 5</option>
                </select>
                <span asp-validation-for="Input.Image" class="text-danger"></span>
            </div>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
