@{
    ViewData["Title"] = "Home Page";
    string saludo = "Hola,";
    string name = "Nagore";
    List<String> compra = new List<string>();
    compra.Add("Pan");
    compra.Add("Azucar");
    compra.Add("Sal");
    compra.Add("Aceite");
    compra.Add("Vinagre");
    compra.Add("Harina");
    compra.Add("Tomate");
    compra.Add("Lechuga");
    compra.Add("Fruta");
    compra.Add("Chocolate");
}

    <div class="text-center">
        <h1 class="display-4">@saludo  @name</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <ul>
            @foreach (string x in compra)
            {
                <li>@x</li>
            }
        </ul>
    </div>
